#Bmap

#TravelPhotos
	button.btn.btn-primary(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop") Toggle top offcanvas
	#offcanvasTop.offcanvas.offcanvas-top(tabindex="-1" aria-labelledby="offcanvasTopLabel" data-bs-scroll="true" data-bs-backdrop="false")
		.offcanvas-header
			#offcanvasTopLabel.offcanvas-title IN YOUR EYES
			button.btn-close(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
		.offcanvas-body.swiper.my-photo-swiper
			.swiper-wrapper
				- const { travel_photos } = main
				each url in travel_photos
					.swiper-slide(data-bs-toggle="modal" data-bs-target="#PhotoModal" data-bs-src=`https://pic.imgdb.cn/item/${url}`)
						img(src=`https://pic.imgdb.cn/item/${url}` alt="")

#PhotoModal.modal.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
	.modal-dialog.modal-dialog-centered.modal-lg
		.modal-body
			img.madal-img(src="" alt="")

